.calculator {
    background-color: #484E63;
    padding: 5vmin;
    border-radius: 6vmin;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 1vmin;

    max-width: 90vw;
    max-height: 90vh;
}

.calculator__item {
    border: 1px solid transparent;
    border-radius: 3vmin;
    padding: 2vmin;
    font-family: "YS Text", Arial, sans-serif;
    font-weight: 500;
    font-size: 2.5vmin;
}

.calculator__display {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.calculator__numbers {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vmin;
}

.calculator__label {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;

    border: 1px solid #8B93AD;
    color: #8B93AD;
    font-family: monospace, monospace;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator__reset {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
}

.calculator__operations {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 8;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1vmin;
}