.display {
    background-color: #1B1F2E;
    color: white;
    text-align: right;

    display: flex;
    flex-direction: column;
}

.display__error {
    color: #D35C5C;

}

.display__equation.display_calculated::after {
    content: " =";
    color: #8B93AD;
}

.display__result {
    font-size: 8vmin;
    min-height: 9vmin;
    line-height: 9vmin;
}

.display__error, .display__equation, .display__result {
    display: block;
    box-sizing: border-box;
}

.display__error, .display__equation {
    font-size: 2.5vmin;
    min-height: 2.5vmin;
    line-height: 2.5vmin;
}